{% extends "base.html"%}

{% block main_content %}

</div>
      

<h1>Add Room</h1>

<form method=post action="">

    <fieldset>
    <legend>Room Information</legend>
    <table>
    <tr><td><label for="dorm" accesskey="d">:</label></td>
        <td><input type="text" name="dorm" id="dorm"></td></tr>
    <tr><td><label for="movie-title" accesskey="t">(t) Movie Title:</label></td>
        <td><input type="text" name="movie-title" id="movie-title"></td></tr>
    </table>
    </fieldset>

    <p> <input type='submit' value='Insert Movie'> </p>

</form>

    </div>
    {% endblock %}